body {
  align-items: center;
  line-height: 1.25;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.wrapper {
  margin: 3em auto;
  max-width: 960px;
  padding: 0 1em;
}

.header-title h2 {
  font-weight: 300;
  font-size: 2em;
  color: rgb(0, 0, 0);
}

#heart {
  color: red;
}
